#C-Sharp, #JavaScript, #Python, #Swift {
  display: none;
}

#JavaScript {
  color: red;
}

#C-Sharp {
  color: green;
}

#Python {
  color: purple;
}

#Swift {
  color: yellow;
}

#intro-image {
  width: 40%;
  display: block;
  margin: auto;
}

h1 {
  color: rgb(27, 119, 27); 
  text-align: center;
}

span {
  color: red;
}

.ready {
  color: rgb(13, 65, 13); 
  font-size: 24px;
}

.intro {
  font-size: 20px;
  text-align: center;
}

button.btn {
  color: white;
  background-color: black;
  margin-top: 10px;
  width: 120px;
}

header, form {
  background-color: aliceblue;
  padding: 15px;
}

body {
  background-color: gainsboro;
}